.error {
  border: solid 2px red;
  color: red;
  font-size: 2em;
}

.success {
  border: solid 2px green;
  color: green;
  font-size: 2em;
}

.blog {
  border: solid 2px black;
  padding: 0.2em;
  margin-bottom: 0.2em;
}